<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.vittorio_zaccaria.alfred_scaffold</string>
    <key>createdby</key>
    <string>Vittorio Zaccaria</string>
    <key>description</key>
    <string>Substitute here your description</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>alfred-scaffold</string>
    <key>webaddress</key>
    <string>https://your-git-address-here</string>
    <key>uid</key>
    <string>ec0dd0f4-bd16-4779-887b-47285e064975</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>escaping</key>
          <integer>63</integer>
          <key>keyword</key>
          <string>alfred_scaffold</string>
          <key>runningsubtext</key>
          <string>Running alfred-scaffold...</string>
          <key>script</key>
          <string>/usr/local/bin/node index.js &quot;{query}&quot;</string>
          <key>title</key>
          <string>alfred-scaffold...</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>ca92e37a-daa8-4665-86e0-11f86ade7e35</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>plusspaces</key>
          <false/>
          <key>url</key>
          <string>http://{query}</string>
          <key>utf8</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>3b7cb222-dde9-4adf-961a-a6e366b9455f</string>
      </dict>
    </array>
    <key>connections</key>
    <dict>
      <key>ca92e37a-daa8-4665-86e0-11f86ade7e35</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>3b7cb222-dde9-4adf-961a-a6e366b9455f</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
    </dict>
    <key>uidata</key>
    <dict>
      <key>ca92e37a-daa8-4665-86e0-11f86ade7e35</key>
      <dict>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
      <key>3b7cb222-dde9-4adf-961a-a6e366b9455f</key>
      <dict>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
    </dict>
  </dict>
</plist>