<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.vittorio_zaccaria.alfred_scaffold</string>
    <key>createdby</key>
    <string>Vittorio Zaccaria</string>
    <key>description</key>
    <string>Simple scaffolding for alfred workflows</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>alfred-scaffold</string>
    <key>webaddress</key>
    <string>https://your-git-address-here</string>
    <key>uid</key>
    <string>e8fc83ec-a8df-4534-bb5a-e4e637e31af5</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>keyword</key>
          <string>alfred_scaffold</string>
          <key>runningsubtext</key>
          <string>Running alfred-scaffold...</string>
          <key>script</key>
          <string>/usr/local/bin/node index.js &quot;{query}&quot;</string>
          <key>title</key>
          <string>alfred-scaffold...</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>64c9013c-64a2-4824-adb8-3bba1e71e141</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>plusspaces</key>
          <false/>
          <key>url</key>
          <string>http://{query}</string>
          <key>utf8</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>ed598445-8766-4a24-82c0-c83376bbe332</string>
      </dict>
    </array>
    <key>connections</key>
    <dict>
      <key>64c9013c-64a2-4824-adb8-3bba1e71e141</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>ed598445-8766-4a24-82c0-c83376bbe332</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
    </dict>
    <key>uidata</key>
    <dict>
      <key>64c9013c-64a2-4824-adb8-3bba1e71e141</key>
      <dict>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
      <key>ed598445-8766-4a24-82c0-c83376bbe332</key>
      <dict>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
    </dict>
  </dict>
</plist>